{% extends "layout.html" %}

{% block title %}
    Courses
{% endblock %}

{% block main %}
    <!-- display title of page -->
    <div class="col-sm-8 type1">
        <h1>Courses</h1>
    </div>

    <!-- display list of resources for each course user is registered in -->
    <div class="container-fluid">
        <br>
        <br>
        {% set count = namespace(value=0) %}
        {% for course in courses %}
            <div class="section">
                <h2>Course ID {{ course }}</h2>
                <!-- list resource links -->
                <!-- https://stackoverflow.com/questions/3842690/in-jinja2-how-do-you-test-if-a-variable-is-undefined?rq=1-->
                {% if resources[course] is defined %}
                <!-- https://stackoverflow.com/questions/17691838/range-in-jinja2-inside-a-for-loop-->
                    {% for n in range(0, (resources[course])|length -1, 2)%}
                        <a href={{resources[course][n+1]}} style = "display: block">{{ resources[course][n] }}</a>
                    {% endfor %}
                {% endif %}
                <!-- https://newbedev.com/how-to-increment-a-variable-on-a-for-loop-in-jinja-template-->
                {% set count.value = count.value + 6 %}
                <button id={{count.value}} class = "buttoncount">Add Resource</button>
                <div id={{count.value+1}} style="display:none">
                    <form action="/courses" method="post">
                        <input id={{count.value+2}} name="resourceCourse" type="hidden" value={{course}}>
                        <label for="resourceLink">Link to resource:</label>
                        <input id={{count.value+3}} name="resourceLink" placeholder="Put Link Here" type="url">
                        <label for="resourceTitle">Title of resource:</label>
                        <input id={{count.value+4}} name="resourceTitle" placeholder="Put Title Here" type="text">
                        <button type="submit" id={{count.value+5}}>Add Resource</button>                   
                    </form> 
                </div>           
            </div>
        {% endfor %}
            <script>
                document.addEventListener('DOMContentLoaded', function(){
                //https://www.tutorialrepublic.com/faq/how-to-check-if-a-variable-exists-or-defined-in-javascript.php
                let limit = document.getElementsByClassName("buttoncount").length;
                for (let x = 6; x < limit * 6 + 6; x += 6){
                    let resourceLink = document.getElementById(""+ (x + 3)).value;
                    let resourceTitle = document.getElementById(""+ (x + 4)).value;
                    document.getElementById(""+x).addEventListener('click', function(){
                        document.getElementById(""+(x+1)).style.display = 'block';
                        document.getElementById(""+(x)).style.display = 'none';
                    });
                    document.getElementById(""+(x + 5)).addEventListener('click', function(){
                        location.href = "./courses.html";
                    });
                }
            });
            </script>

    </div>

{% endblock %}