{% extends "layout.html" %}

{% block title %}
    Preferences
{% endblock %}

{% block main %}
    <!-- display title of page -->
    <div class="col-sm-8 type1">
        <h1>Group Preferences</h1>
    </div>
    <br>

  
    <div class="container-fluid">
        <h2>Add a New Course:</h2>
        <form action="/prefs" method="post">
            <div class="type2">
                <label for="course">6-Digit Course ID (you can find this in the Harvard Course Catalog):</label>
                <input id="course" name="course" placeholder"Course" minlength="6" maxlength="6" type="text">
                <main>
                    {% block body %}{% endblock %}
                </main>
                <button type="submit" onclick = "()=>{ console.log(document.getElementById('times').val())};">Submit Preferences</button>
            </div>
        </form>
    </div>
{% endblock %}