{% extends "prefsLayout.html" %}

<!-- times, locations, and group size sections of form -->
{% block body %}
    <label>Preferred Times (select multiple in a row by holding shift; select multiple separated times by holding cmd):</label>    
    <table>
        <tr>
            {% for day in daysoftheweek %}
                <th>{{ day }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for day in daysoftheweek %}
                <td>
                    <select multiple name={{day}} id={{day}}>
                        {% for key in time_to_index %}
                            <option>{{ key }}</option>
                        {% endfor %}
                    </select>
                </td>
            {% endfor %}
        </tr>
    </table>
    <label for="location">Preferred Location for Studying:</label>
    <select id = "location" name = "location" type = "text">
        {% for location in locations %}
                <option>{{ location }}</option>
        {% endfor %}
    </select>
    <label for="size">Preferred Group Size:</label>
    <select name="size" id="size">
        <option disabled selected>Group Size</option>
        <option value="s">Small (2-3)</option>
        <option value="m">Medium (4-6)</option>
        <option value="l">Large (7+)</option>
    </select>
{% endblock %}